/* light gray : #69696B */
/* dark gray : #5D5C61 */
/* darker gray : #1A1A1D */
/* light blue : #7395AE */
/* dark blue : #557A95 */
/* darker blue: #293C47 */
/* light brown : #c4b6ab */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



.about  {
    display: block;
    position: relative;
    background-color: #c4b6ab;
    width: 100%;
    height: 100vh; 
    margin-top: 45%;
    font-size: 0;
}

.about:hover {
    background-color: green;
}

.aboutText {
    position: absolute;
    margin-top: 10%;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    left: 5%;
    right: 80%;
    width: 20%;
    height: 80%;
    color: #1A1A1D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 0px 8px -8px rgba(0,0,0,0.3);
}

.aboutText:hover {
    background-color: yellow;
}

.about svg {
    display: block;
    position: relative;
    float: left;
    height: 100%;
    width: 10%;
    left: 20%;
}

.about svg:hover {
    background-color: yellow;
}

.aboutInfo {
    position: relative;
    width: 57%;
    top: 15%;
    height: 60%;
    float: right;
    right: 15%;
    text-align: left;

}

.aboutInfo:hover {
    background-color: yellow;
}

.aboutInfo h4 {
    font-size: 1.2vw;
    color: #69696B;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-height: 500px){
    
    .about {
        margin-top: 110vh;
    }
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
   
    .about {
        margin-top: 120vh;
    }

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .about {
        margin-top: 100vh;
    }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .about {
        margin-top: 110vh;
    }


}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .about {
        margin-top: 110vh;
    }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    

    .about {
        margin-top: 100vh;
    }

}


