* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.socialBar {
    position: fixed;
    display: position;
    top: 45%;
    z-index: 5;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    color: #379683;
}

.socialBar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.socialBar a:hover {
    background-color: #7395AE;
}

.socialButton {
background: #293C47;
color: white;
}
