/* light gray : #69696B */
/* dark gray : #5D5C61 */
/* darker gray : #1A1A1D */
/* light blue : #7395AE */
/* dark blue : #557A95 */
/* darker blue: # */
/* light brown : #c4b6ab */ 

.about  {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 10vw 50vw;
    grid-template-rows: 15vh 45vh;
    width: 100%;
    height: 100%;
    padding-top: 22vh;
    padding-bottom: 15vh;
}


.aboutText {
    display: inline-grid;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    color: #293C47;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.about svg {
    display: inline-grid;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    width: 100%;
    height: 100%;
    stroke-width: 0.3vw;
}

.aboutInfo {
    display: inline-grid;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.aboutInfo h4 {
    font-size: 1.1vw;
    color: #5D5C61;
    margin-bottom: 0%;
}

.aboutInfo ul {
    margin: 0;
    color: #5D5C61;
    font-size: 1.1vw;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    padding-left: 0;
}

.aboutInfo ul li{
    margin-left: 2vw;
    font-size: 1.1vw;
    list-style-type: circle;
    font-weight: bold;
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    color: #557A95;
}

.dohover:hover {
    text-decoration: underline;
    color: #557A95
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-height: 500px){
    
    .about {
        background: purple;

    }

    .aboutText {
        font-size: 2.5vw;
    }

    .aboutInfo h4 {
        font-size: 1.8vw;
    }

    .aboutInfo ul li {
        font-size: 1.8vw;
    }
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
   

    .aboutText {
        font-size: 2.5vw;
    }


    .aboutInfo h4 {
        font-size: 1.8vw;
    }

    .aboutInfo ul li {
        font-size: 1.8vw;
    }

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {

    .about {
        grid-template-columns: 15vw 60vw;
        grid-template-rows: 10vh 80vh;
    }

    .aboutText {
        font-size: 3vh;
    }

    .about svg {
        stroke-width: 0.3vw;
    }

    .aboutInfo h4 {
        font-size: 1.8vh;
    }

    .aboutInfo ul li {
        font-size: 1.8vh;
    }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
    
    .about {
        grid-template-columns: 20vw 70vw;
        grid-template-rows: 5vh 95vh;

    }

    .about svg {
        stroke-width: 0.25vw;
    }

    .aboutText {
        font-size: 4vw;
    }

    .aboutInfo {
        padding-top: 3vh;

    }

    .aboutInfo h4 {
        font-size: 1.8vw;
    }

    .aboutInfo ul li {
        font-size: 1.8vw;
    }


}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .about {
        grid-template-columns: 15vw 60vw;
        grid-template-rows: 10vh 105vh;
    }

    .about svg {
        stroke-width: 0.35vw;
    }

    .aboutText {
        font-size: 4vw;
    }

    .aboutInfo {
        padding-top: 5vh;
    }

    .aboutInfo h4 {
        font-size: 2vw;
    }

    .aboutInfo ul li {
        font-size: 2vw;
    }


}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
    .about {
        grid-template-columns: 25vw 50vw;
        grid-template-rows: 10vh 83vh;
    }

    .about svg {
        stroke-width: 0.35vw;
    }

    .aboutText {
        font-size: 7vw;
    }

    .aboutInfo h4 {
        font-size: 1.8vh;
    }

    .aboutInfo ul li {
        font-size: 1.8vh;
    }

}


