/* light gray : #69696B */
/* dark gray : #5D5C61 */
/* darker gray : #1A1A1D */
/* light blue : #7395AE */
/* dark blue : #557A95 */
/* darker blue: #293C47 */
/* light brown : #c4b6ab */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.front {
    display: grid;
    grid-template-rows: repeat(4,minmax(50vh, auto)) 5vh;
    position: absolute;
    background-color: #c4b6ab;
    top: 10%;
    right: 7%;
    left: 10%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}


.frontText{
    grid-row: 1/2;
    display: inline-grid;
    text-align: center;
    padding-top: 22vh;
    padding-bottom: 8vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

.frontText h3{
    color: #557A95;
    font-size: 4vw;

}

.frontText h1{
    color: #1A1A1D;
    font-weight: bold;
    font-size: 6vw;
}


.frontText h2 {
    color: #293C47;
    font-weight: bold;
    font-size: 3vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3s steps(30, end) 2;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  

.frontText h4{
    color: #5D5C61;
    font-size: 1.3vw;
}

.frontText button{
    justify-self: center;
    width: 15%;
    height: 5vh;
    font-size: 2vw;
    background-color: #1A1A1D;
    color: #c4b6ab;
    border: none;
    outline: none;
    border-radius: 0.5vw;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
} 

.frontText button:hover {
    background-color: #7395AE;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-height: 500px){

    .frontText h3 {
        font-size: 5vw;
    }

    .frontText h1 {
        font-size: 8vw;
    }

    .frontText h2 {
        font-size: 3vw;
    }

    .frontText h4 {
        font-size: 2vw;
    }
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {

    .frontText h3 {
        font-size: 5vw;
    }

    .frontText h1 {
        font-size: 8vw;
    }

    .frontText h2 {
        font-size: 3vw;
    }

    .frontText h4 {
        font-size: 2vw;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .frontText {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .frontText h3 {
        font-size: 6vw;
    }

    .frontText h1 {
        font-size: 9vw;
    }

    .frontText h2 {
        font-size: 4vw;
    }

    .frontText h4 {
        font-size: 2.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .frontText {
        padding-top: 15vh;
    }

    .frontText h3 {
        font-size: 5vw;
    }

    .frontText h1 {
        font-size: 8vw;
    }

    .frontText h2 {
        font-size: 3vw;
    }

    .frontText h4 {
        font-size: 2vw;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .front {
        grid-template-rows: repeat(4,minmax(50vh, auto)) 3vh;
    }

    .frontText {
        padding-top: 15vh;
    }

    .frontText h3 {
        font-size: 5vw;
    }

    .frontText h1 {
        font-size: 8vw;
    }

    .frontText h2 {
        font-size: 3vw;
    }

    .frontText h4 {
        font-size: 2vw;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    

    .front {
        grid-template-rows: repeat(4,minmax(50vh, auto)) 3vh;
    }

    .frontText {
        align-self: center;
        justify-self: center;
        overflow:hidden;
    }

    .frontText h3 {
        font-size: 5vh;
    }

    .frontText h1 {
        font-size: 9vh;
    }

    .frontText h2 {
        font-size: 3vh;
    }

    .frontText h4 {
        font-size: 2vh;
    }
}


