/* light gray : #69696B */
/* dark gray : #5D5C61 */
/* darker gray : #1A1A1D */
/* light blue : #7395AE */
/* dark blue : #557A95 */
/* darker blue: #293C47 */
/* light brown : #c4b6ab */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.projects {
    display: block;
    position: relative;
    background-color: #c4b6ab;
    width: 100%;
    height: 375vh; 
    margin-top: 0%;
}

/* .projects:hover {
    background-color: green;
} */

.projectsText {
  position: absolute;
  top: 5%;
  float: center;
  text-align: center;
  width: 25%;
  height: 10%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #293C47;
  font-size: 3vw;
  font-weight: bold;
}

/* .projectsText:hover {
  background-color: yellow;
} */

.projects svg {
  display: block;
  position: relative;
  float: left;
  width: 55%;
  height: 10%;
  top: 5%;
  left: 25%;
}

/* .projects svg:hover {
  background-color: yellow;
} */

.holder {
  position: relative;
  height: 83%;
  margin-bottom: 0vh;
  width: 80%;
  float: left;
  left: 10%;
}

/* .holder:hover {
  background-color: yellow;
} */

.module {
  height: 18%;
  width: 100%;
  margin-top: 15vh;
  display: relative;
  z-index: 0;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);

}

/* .module:hover {
  background-color: greenyellow;
} */

.thumbnail {
  position: relative;
  width: 60%;
  height: 100%;
  float: right;
  border-radius: 1.5vw;
  z-index: 3;
}

.pic {
  width: 100%;
  height: 100%;
}

.gif  {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  opacity: 0;
}

.module:hover .gif  {
  opacity: 1;
  animation: fade 0.5s linear 0s 1;
}

@keyframes fade  {
  from {opacity: 0;}
  to {opacity: 1;}
}

.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c4b6ab;
  opacity: 0.8;
  top: 0;
  transition: all 0.3s ease;
}

@keyframes dis  {
  from {opacity: 0.8;}
  to {opacity: 0;}
}


.module:hover .overlay{
  display: none;
  animation: dis 0.5s linear 0s 1;
}

.magnify  {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.picMagnify {
  width: 100%;
  height: 100%;
}

.thumbnail:hover .magnify  {
  opacity: 1;
  animation: fade 0.5s linear 0s 1;
}

.thumbnail:hover .picMagnify  {
  display: none;
}


.nameHeader {
  position: relative;
  background: #293C47;
  color: #c4b6ab;
  width: 45%;
  height: 20%;
  top: -110%;
  float: left;
  z-index: 4;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 10px;
} 

.learned {
  display: block;
  position: absolute;
  width: 105%;
  height: 110%;
  background: #1a1a1a;
  opacity: 0;
  top: -5%;
  left: -2.5%;
  transition: all 0.3s ease;
  z-index: 2;
  padding: 10px 10px 0 15px;
}

.learned h2 {
  color: #7395AE;
  font-size: 1.4vw;
}

.learned h6 {
  color: #c4b6ab;
  font-size: 1.1vw;
}

.module:hover .learned  {
  opacity: 1;
  animation: fade 0.5s linear 0s 1;
}

.description {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #1a1a1a;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .module:hover .description{
  background-color: red;
} */

.description h1 {
  font-size: 2vw;
  color: #c4b6ab;
  font-weight: bold;
}

.description h3 {
  font-size: 1.1vw;
  color: #7395AE;
  font-style: italic;
}

.description h4 {
  font-size: 1.1vw;
  font-weight: light;
  color: #c4b6ab;
}

.description a {
  width: 100px;
  height: 100px;
  font-size: 3vw;
  padding-right: 2vw;

}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-height: 500px){
  .projects {
    margin-top: 150vh;
    height: 325vh;
  }

  .projectsText {
    font-size: 3vh;
  }

  .holder {
    height: 70%;
  }

  .module {
    height: 22%;
  }

  .description {
    width: 100%;
    height: 40%;
    margin-top: 0%;
  }

  .description h1 {
    font-size: 2vh;
  }
  
  .description h3 {
    font-size: 1vh;
  }

  .description h4 {
    font-size: 1.1vh;
  }

  .thumbnail {
    width: 100%;
    height: 60%;
    top: 40%;
  }
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
  .projects {
    margin-top: 150vh;
    height: 325vh;
  }

  .projectsText {
    font-size: 3vh;
  }

  .holder {
    height: 70%;
  }

  .module {
    height: 22%;
  }

  .description {
    width: 100%;
    height: 40%;
    margin-top: 0%;
  }

  .description h1 {
    font-size: 2vh;
  }
  
  .description h3 {
    font-size: 1vh;
  }

  .description h4 {
    font-size: 1.1vh;
  }

  .thumbnail {
    width: 100%;
    height: 60%;
    top: 40%;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .projects {
    margin-top: 150vh;
    height: 325vh;
  }

  .holder {
    height: 70%;
  }

  .module {
    height: 22%;
  }

  .description {
    width: 100%;
    height: 40%;
    margin-top: 0%;
  }

  .description h1 {
    font-size: 2vh;
  }
  
  .description h3 {
    font-size: 1vh;
  }

  .description h4 {
    font-size: 1.1vh;
  }

  .thumbnail {
    width: 100%;
    height: 60%;
    top: 40%;
  }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .projects {
    margin-top: 0vh;
    height: 325vh;
  }

  .holder {
    height: 70%;
  }

  .module {
    height: 22%;
  }

  .description {
    height: 100%;
    width: 40%;
    margin-top: 0%;
  }

  .description h1 {
    font-size: 2vw;
  }
  
  .description h3 {
    font-size: 1vw;
  }

  .description h4 {
    font-size: 1.1vw;
  }

  .thumbnail {
    height: 100%;
    width: 60%;
    top: 0%;
  }
}

/*  
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .projects {
    margin-top: 0vh;
    height: 325vh;
  }

  .projectsText {
    font-size: 3vw;
  }

  .holder {
    height: 70%;
  }

  .module {
    height: 25%;
  }


  .description {
    height: 100%;
    width: 40%;
    margin-top: 0%;
  }

  .description h1 {
    font-size: 2vw;
  }
  
  .description h3 {
    font-size: 1vw;
  }

  .description h4 {
    font-size: 1.2vw;
  }

  .thumbnail {
    height: 100%;
    width: 60%;
  }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
  .projects {
    margin-top: 0vh;
    height: 325vh;
  }

  .projectsText {
    font-size: 3vh;
    left: 10%;
  }

  .holder {
    height: 70%;
  }

  .module {
    height: 22%;
  }


  .description {
    width: 100%;
    height: 40%;
    margin-top: 0%;
  }

  .description h1 {
    font-size: 2vh;
  }
  
  .description h3 {
    font-size: 1vh;
  }

  .description h4 {
    font-size: 1vh;
  }

  .thumbnail {
    width: 100%;
    height: 60%;
    top: 40%;
  }

}


