/* light gray : #69696B */
/* dark gray : #5D5C61 */
/* darker gray : #1A1A1D */
/* light blue : #7395AE */
/* dark blue : #557A95 */
/* darker blue: #293C47 */
/* light brown : #c4b6ab */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.projects {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 15vw 45vw;
  grid-template-rows: 20vh 290vh;
  width: 100%;
  height: 100%;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.projectsText {
  display: inline-grid;
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  color: #293C47;
  font-size: 3vw;
  font-weight: bold;
  width: 100%;
  height: 100%;
}


.projects svg {
  display: inline-grid;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  stroke-width: 0.3vw;
}


.holder {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: repeat(5, 20fr);
  height: 100%;
  width: 100%;
  padding-top: 10vh;
  justify-items: center;
  justify-content: center;
}

.module:nth-child(1n) {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 40vh 10vh;
  grid-template-columns: 25vw 45vw;
  margin-bottom: 10vh;
}

.thumbnail {
  display: inline-grid;
  position: relative;
  grid-row: 1/3;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);

}

.pic {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.gif  {
  display: none;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  outline: none;
}

.gif::-webkit-media-controls-overlay-play-button {
  display: none;
}

.module:hover .gif  {
  display: inline-block;
  opacity: 1;
  animation: fade 0.5s linear 0s 1;
}

@keyframes fade  {
  from {opacity: 0;}
  to {opacity: 1;}
}

.overlay {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c4b6ab;
  opacity: 0.5;
  z-index: 3;
  transition: all 0.3s ease;
}

@keyframes dis  {
  from {opacity: 0.5;}
  to {opacity: 0;}
}


.module:hover .overlay{
  display: none;
  animation: dis 0.5s linear 0s 1;
}

.magnify  {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  opacity: 0;
  z-index: 6;
}

.picMagnify {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.thumbnail:hover .magnify  {
  opacity: 1;
  animation: fade 0.5s linear 0s 1;
}

.thumbnail:hover .picMagnify  {
  display: none;
}


.nameHeader {
  position: relative;
  background: #293C47;
  color: #c4b6ab;
  width: 45%;
  height: 20%;
  top: -110%;
  float: left;
  z-index: 4;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 10px;
} 

.learned {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 1vw;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  overflow-x: scroll;
  overflow-y: scroll;

}

.learned h2 {
  color: #7395AE;
  font-size: 1.4vw;
}

.learned h6 {
  color: #c4b6ab;
  font-size: 1.1vw;
}

.module:hover .learned  {
  opacity: 1;
  animation: fade 0.5s linear 0s 1;
}


.description {
  display: inline-grid;
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: auto;
  background-color: #1a1a1a;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 1vw;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);

}

/* .module:hover .description{
  background-color: red;
} */

.description h1 {
  font-size: 2vw;
  color: #c4b6ab;
  font-weight: bold;
}

.module:hover .description h1  {
  display: none;
}

.description h3 {
  font-size: 1.1vw;
  color: #7395AE;
  font-style: italic;
}

.module:hover .description h3  {
  display: none;
}

.description h4 {
  font-size: 1.1vw;
  font-weight: light;
  color: #c4b6ab;
}

.module:hover .description h4  {
  display: none;
}

.links a {
  display: inline-block;
  font-size: 3vw;
  padding: 1vw;
}

.links {
  display: block;
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 8px rgba(0,0,0,0.4);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-height: 500px){
  .projects {
    grid-template-columns: 20vw 55vw;
    grid-template-rows: 20vh 290vh;
  }

  .module:nth-child(1n) {
    grid-template-rows: 40vh 10vh;
    grid-template-columns: 30vw 55vw;
    margin-bottom: 10vh;
  }

  .holder {
    margin-top: 5vh;
  }

  .projectsText {
    font-size: 4vw;
  }

  .description h1 {
    font-size: 3.5vw;
  }
  
  .description h3 {
    font-size: 1.5vw;
  }

  .description h4 {
    font-size: 1.35vw;
  }

  .learned h2 {
    font-size: 2.5vw;
  }

  .learned h6 {
    font-size: 1.3vw;
  }
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
  .projects {
    grid-template-columns: 20vw 55vw;
    grid-template-rows: 20vh 290vh;
  }

  .module:nth-child(1n) {
    grid-template-rows: 40vh 10vh;
    grid-template-columns: 30vw 55vw;
    margin-bottom: 10vh;
  }

  .holder {
    margin-top: 5vh;
  }

  .projectsText {
    font-size: 4vw;
  }

  .description h1 {
    font-size: 3.5vw;
  }
  
  .description h3 {
    font-size: 1.5vw;
  }

  .description h4 {
    font-size: 1.35vw;
  }

  .learned h2 {
    font-size: 2.5vw;
  }

  .learned h6 {
    font-size: 1.3vw;
  }
  
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .projects {
    grid-template-columns: 25vw 50vw;
    grid-template-rows: 20vh 380vh;
    padding-top: 10vh;
  }

  .module:nth-child(1n) {
    grid-template-rows: 40vh 30vh;
    grid-template-columns: 60vw 15vw;
    margin-bottom: 10vh;
  }

  .projects svg {
    stroke-width: 0.5vw;
}

  .holder {
    margin-top: 0vh;
  }

  .thumbnail {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .links {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .links a{
    display: block;
    font-size: 9vw;
  }

  .projectsText {
    font-size: 4vh;
  }

  .description {
    padding: 4vw;
  }

  .description h1 {
    font-size: 5vw;
  }
  
  .description h3 {
    font-size: 3vw;
  }

  .description h4 {
    font-size: 3vw;
  }

  .learned {
    padding: 4vw;
  }

  .learned h2 {
    font-size: 4vw;
  }

  .learned h6 {
    font-size: 3vw;
  }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .projects {
    grid-template-columns: 20vw 55vw;
    grid-template-rows: 20vh 490vh;
    padding-top: 0;
  }

  .projects svg {
    stroke-width: 0.25vw;
  }

  .module:nth-child(1n) {
    grid-template-rows: 35vh 55vh;
    grid-template-columns: 65vw 10vw;
    margin-bottom: 10vh;
  }

  .holder {
    margin-top: 5vh;
  }

  .links a{
    font-size: 5vw;
  }

  .projectsText {
    font-size: 4vw;
  }

  .description h1 {
    font-size: 3.5vw;
  }
  
  .description h3 {
    font-size: 2vw;
  }

  .description h4 {
    font-size: 1.5vw;
  }

  .learned h2 {
    font-size: 2vw;
  }

  .learned h6 {
    font-size: 1.5vw;
  }
}

/*  
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .projects {
    grid-template-columns: 20vw 55vw;
    grid-template-rows: 20vh 360vh;
  }

  .projects svg {
    stroke-width: 0.35vw;
  }

  .module:nth-child(1n) {
    grid-template-rows: 55vh 10vh;
    grid-template-columns: 30vw 55vw;
    margin-bottom: 10vh;
  }

  .holder {
    margin-top: 5vh;
  }

  .projectsText {
    font-size: 4vw;
  }

  .description h1 {
    font-size: 3.5vw;
  }
  
  .description h3 {
    font-size: 1.5vw;
  }

  .description h4 {
    font-size: 1.35vw;
  }

  .learned h2 {
    font-size: 2.5vw;
  }

  .learned h6 {
    font-size: 1.3vw;
  }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
  .projects {
    grid-template-columns: 30vw 45vw;
    grid-template-rows: 15vh 390vh;
    padding-top: 5vh;
  }

  .projects svg {
    stroke-width: 0.35vw;
  }

  .module:nth-child(1n) {
    grid-template-rows: 40vh 30vh;
    grid-template-columns: 60vw 15vw;
    margin-bottom: 10vh;
  }

  .holder {
    margin-top: 5vh;
    padding-top: 0vh;
  }

  .thumbnail {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .links {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .links a{
    display: block;
    font-size: 9vw;
  }

  .projectsText {
    font-size: 7vw;
  }

  .description {
    padding: 4vw;
  }

  .description h1 {
    font-size: 5.5vw;
  }
  
  .description h3 {
    font-size: 3.5vw;
  }

  .description h4 {
    font-size: 3.5vw;
  }

  .learned {
    padding: 4vw;
  }

  .learned h2 {
    font-size: 4.5vw;
  }

  .learned h6 {
    font-size: 3.5vw;
  }

}


